@tailwind base;
@tailwind components;
@tailwind utilities;

/* 导入阿里巴巴普惠体 */
@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('/fonts/AlibabaPuHuiTi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 自定义全局样式 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alibaba PuHuiTi', -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 